<div class="home__container">
	<app-card
		gameCover="assets/tr-shadow.jpeg"
		gameLabel="DEFINITIVE EDITION"
		gameType="DIGITAL | PS4"
		gamePrice="R$199,50"
	>
	</app-card>
	<app-card
		gameCover="assets/bt-5.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | PS5"
		gamePrice="R$248,90"
	>
	</app-card>
	<app-card
		gameCover="assets/bt-1.jpg"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4"
		gamePrice="R$78,99"
	>
	</app-card>
	<app-card
		gameCover="assets/swj-survivor.avif"
		gameLabel="NEW"
		gameType="DIGITAL | PS5"
		gamePrice="R$338,90"
	>
	</app-card>
	<app-card
		gameCover="assets/ac-cover.jpg"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL| PS5"
		gamePrice="R$119,99"
	>
	</app-card>
	<app-card
		gameCover="assets/bt-hardline.jpg"
		gameLabel="DELUXE"
		gameType="DIGITAL | PS3 PS4"
		gamePrice="R$157,99"
	>
	</app-card>
	<app-card
		gameCover="assets/bt-4.jpg"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS5"
		gamePrice="R$99,50"
	>
	</app-card>

	<app-card
		gameCover="assets/hl.jpeg"
		gameLabel="NEW"
		gameType="DIGITAL | PS4 PS5"
		gamePrice="R$299,90"
	>
	</app-card>

	<app-card
		gameCover="assets/fg.webp"
		gameLabel="FREE"
		gameType="DIGITAL | PS4 PS5"
		gamePrice="R$0,00"
	>
	</app-card>

</div>

